<div class="row mb-4">
  <div class="col-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom">
      <h1 class="h2">Dashboard</h1>
      <div class="btn-group">
        <button class="btn btn-sm btn-outline-secondary">Share</button>
        <button class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
    </div>
  </div>
</div>
<div class="row mb-4">
  <div class="col-12">
    <div class="border-bottom">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium dolore, est facilis illo odio officiis.
        Ad animi autem blanditiis dolore et hic illo minima possimus saepe sapiente! Delectus dicta dolores doloribus
        earum libero minus numquam odit perspiciatis provident velit. A aperiam atque debitis eaque et illum officia,
        vitae? Alias blanditiis cupiditate earum eos illum in iusto natus, obcaecati possimus quae quam quos sed,
        temporibus totam ullam ut voluptatum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium dolore, est facilis illo odio officiis.
        Ad animi autem blanditiis dolore et hic illo minima possimus saepe sapiente! Delectus dicta dolores doloribus
        earum libero minus numquam odit perspiciatis provident velit. A aperiam atque debitis eaque et illum officia,
        vitae? Alias blanditiis cupiditate earum eos illum in iusto natus, obcaecati possimus quae quam quos sed,
        temporibus totam ullam ut voluptatum. Adipisci, architecto cumque deleniti dignissimos facilis fuga hic illo ipsa
        iste itaque iure minima minus nam nisi nobis non obcaecati optio provident quaerat quam quas quasi quisquam
        reprehenderit sapiente sint tempore veritatis.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium dolore, est facilis illo odio officiis.
        Ad animi autem blanditiis dolore et hic illo minima possimus saepe sapiente! Delectus dicta dolores doloribus
        earum libero minus numquam odit perspiciatis provident velit. A aperiam atque debitis eaque et illum officia,
        vitae? Alias blanditiis cupiditate earum eos illum in iusto natus, obcaecati possimus quae quam quos sed,
        temporibus totam ullam ut voluptatum. Adipisci, architecto cumque deleniti dignissimos facilis fuga hic illo ipsa
        iste itaque iure minima minus nam nisi nobis non obcaecati optio provident quaerat quam quas quasi quisquam
        reprehenderit sapiente sint tempore veritatis. Aliquam, beatae consequatur eligendi fugit ipsam iusto nostrum
        omnis ratione recusandae! Distinctio dolore ex placeat quia repudiandae, velit? Architecto, earum!
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium dolore, est facilis illo odio officiis.
        Ad animi autem blanditiis dolore et hic illo minima possimus saepe sapiente! Delectus dicta dolores doloribus
        earum libero minus numquam odit perspiciatis provident velit. A aperiam atque debitis eaque et illum officia,
        vitae? Alias blanditiis cupiditate earum eos illum in iusto natus, obcaecati possimus quae quam quos sed,
        temporibus totam ullam ut voluptatum.
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-between align-items-center">
      <small>12.12.2012</small>
      <small>Vladilen</small>
    </div>
  </div>
</div>
