<div *ngIf="post$ | async as post; else loading">
  <div class="card">
    <div class="card-header">
      <h4 class="h4">{{ this.post.title }}</h4>
      <div class="d-flex justify-content-between align-items-center">
        <small>{{this.post.date | date: 'dd.MM.yy'}}</small>
        <small>{{ this.post.author }}</small>
      </div>
    </div>
    <div
      class="card-body"
    >
      <quill-view-html [content]="post.text"></quill-view-html>
    </div>
    <div class="card-footer">
      <div class="btn-group btn-group-sm float-right">
        <a class="btn btn-success" [routerLink]="['/post', this.post.id]">export</a>
        <button class="btn btn-secondary">Share</button>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <p class="text-center">loading...</p>
</ng-template>
