<div class="card">
  <div class="card-header">
    <h4 class="h4">Post title</h4>
    <div class="d-flex justify-content-between align-items-center">
      <small>12.12.2012</small>
      <small>Vladilen</small>
    </div>
  </div>
  <div class="card-body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, deleniti.
  </div>
  <div class="card-footer">
    <div class="btn-group btn-group-sm float-right">
      <a class="btn btn-success" routerLink="/post/1488">Open</a>
      <button class="btn btn-secondary">Share</button>
    </div>
  </div>
</div>
